* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size: 30px;
}

section {
  margin: 50px 0;
  
}
.error-404 img{
  max-width: 100%;
}

#header {
  margin-top: 50px;
  text-align: center;
}

.blog-copy{
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  padding: 25px;
}

.blog-copy a{
  text-decoration: underline;
  color: #380036;
}

.core-header {
  text-align: center;
  color: #380036;
}

.blog-subtitle{
  color: #000;
  font-size: 14px;
  text-align: center;
}

#featuredPost a, .back-button a, #header a {
  color: #000;
  text-decoration: none;
}

.back-button{
  margin: 0 auto;
  justify-content: flex-end;
  max-width: 600px;
  padding: 25px;
}

#featuredPost .btn:hover, #recentPosts .btn:hover {
  color: #fff;
  background-color: #380036;
  border: 1px solid #fff;
}

.kicker {
  color:#380036;
}

.featured-post{
  background-image: url('../public/img/sandwich.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  padding: 0;
  height: 400px;
}

.featured-post-overlay {
  position: relative;
  top:0;
  left:0;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
  height: 100%;
  display: flex;
  align-items: center;
}

.featured-post-overlay .post-info{
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 7.5%;
}
.featured-post-preview .post-info .btn {
  width: 25%;
}

#recentPosts .container-fluid{
  flex-direction: column;
  align-items: center;
  max-width: 85%;

}

#recentPosts h2{
  align-self: flex-start;
  margin: 0 0 25px 0;
}

#recentPosts .card {
  max-width: 85%;
  margin: 10px;
}

.card-picture{
  border: 0px solid RGBA(255, 255, 255,0);
  border-radius: 0.375rem;
}

#recentPosts .card-link {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

#recentPosts .card-link:hover{
  color: #380036;
}

#recentPosts .btn {
  max-width: 150px;
  margin: 25px auto;
}

#about {
  padding-top: 50px;
}

.author{
  border: 1px solid white;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
  margin: 10px 30px;
}

#about .author img{
  width: 300px;

}

.author-image-col {
  justify-content: flex-end;
}

.author-bio{
  max-width: 85%;
}

#footer {
  background-color:rgb(65, 65, 65);
  padding: 50px;
  margin-bottom: 0;
  z-index: 2;
}

#footer .col-6{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#footer .col-6 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 75px;
}

.copyright {
  min-width: 200px;;
}

#footer a{
  color: #fff;
  text-decoration: none;
}

.footer-heading{
  font-weight: 700;
}

.footer-copyright{
  color:rgb(186, 186, 186);
}
.footer-links{
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding-left: none;
}

.footer-links li{
  padding-left: 0;
}


#footer .copyright {
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;

}

#footer .dev-aca-link{
  font-size: 14px;
  justify-content: center;
  margin-top: 50px;
  text-decoration: underline;


}

.navbar-brand {
  height: 100%;
}

.navbar-brand img{
  max-width: 100px;

}

.navbar ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

.sprint-title{
  max-width: 1200px;
  margin: 0px auto;
}

.button-wrapper{
  margin-bottom: 25px;
  padding: 0;
  justify-content: space-around;
  max-width: 1200px;
}

.big-button{
  padding: 30px 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 100px;
  text-decoration: none;
  background-color:#fff;
  border-radius: 10px;
}

.big-button h3{
  margin-top: 15px;
}

.big-button:nth-child(odd){
  color: #1768AC;
  border: 2px solid #1768AC;
}

.big-button:nth-child(odd):hover{
  color: #fff;
  border: 2px solid #1768AC;
  background-color: #1768AC;
  transition: background-color 1s ease;
  transition: color 1s ease;
}

.big-button:nth-child(even){
  color: #380036;
  border: 2px solid #380036;
}

.big-button:nth-child(even):hover{
  color: #fff;
  border: 2px solid #380036;
  background-color: #380036;
  transition: background-color 1s ease;
  transition: color 1s ease;
}
.fixed-element {
  background-color: orange;
    position: fixed;
    height: 120px;
    width: 200px;
    text-align: center;
    top: 0;
    right: 10px;
}

.second-half{
  position: relative;
  z-index: 4;
  background-color: #fff;
}

.pac-man {
  display: block;
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 250px;
  z-index: 2;
}


/* Small Screens*/
@media only screen and (max-width: 480px) {
  .author-image-col{
    justify-content: center;
  }

  #about{
    margin-top: 0;
  }

  #footer .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .big-button{
    width:85%;
  }

  .pac-man {
    display: none;
  }

  #fixedElement:after{
    content: ' Tap me to make me go away.'
  }

}



/* Medium Screens*/
@media only screen and (min-width: 481px){
  .author-image-col{
    max-width: 85%;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  .big-button{
    width:85%;
  }
  .pac-man {
    display: none;
  }
  #fixedElement:after{
    content: ' Tap me to make me go away.'
  }

}



/* Large Screens*/
@media only screen and (min-width: 769px){
  .author-image-col {
    justify-content: flex-end;
  }
  .big-button{
  width: 49%
  }
  .second-half{
    margin-top: 200px;
  }
  .pac-man {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 20px;
    background-color: #fff;
    width: 250px;
    z-index: 2;
  }

  .pac-man img {
    position: absolute;
    top: -100px;
    transform: rotate(270deg);
    height: 275px;
  }

  .pac-man p {
    margin: 175px 95px;
    width: 25px;

  }
  #fixedElement:after{
    content: ''
  }
  
}

/* Oversized Screens*/
@media only screen and (min-width: 1201px){

}



